// Neutral colors
$white: #ffffff;
$black: #000000;
$orange: rgb(237, 108, 2);

$PrimaryBlack: #0a0a0a;
$CardDark: #1a1a1a;
$lightblack: #1c1c1c;
$AccentGreen: #22c55e;
$HoverGreen: #16a34a;
$DarkGreen: #0b5f2a;
$TextWhite: #ffffff;
$MutedGray: #a1a1aa;
$lightGrey: #e3e0e0;
$GreyMobile: #51515d;
$red:#df2020;

