@use "./colors.scss" as *;

:root {
  .myAppBar {
    background-color: $black;
    color: $white;
  }

  .menubutton {
    text-align: center;
    color: $white;
    background-color: $black;
    margin: 5px;

    &:hover {
      background-color: $HoverGreen;
      color: $black;
    }
  }

  .company-name {
    background: $TextWhite;
    font-family: "Outfit";
    font-size: 2rem;
    font-weight: 800;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 7px 60px 7px 40px;
    clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
    margin-right: 20px;
    transition: all 0.3s ease;
    color: $PrimaryBlack;
    max-width: fit-content;
  }

  @media (min-width: 768px) {
  .tool-bar{
    padding-left: 0px;
  }
}
}
